header {
    border: 1px solid rgb(250, 244, 244);
    padding: 10px;
    background-color: #333;
}

nav{
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    
}

article{
    border: 1px solid black;
    padding: 10px;
    display: flex;
    margin-top: 10px;
}

section{
    border: 1px solid rgb(110, 16, 16);
    padding: 10px;
    margin: 10px;
    background: linear-gradient(#f1f1ef, #c0bcbb);
}

footer{
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

